body {
    background-color: #f8f8f8;
}

.form-login {
    width: 350px;
    margin: 0 auto;
    height: 500px;
}

#title-form {
    font-size: 20px;
    text-align: center;
}

.o_input {
    text-align: center;
}

.red {
    color: red;
}

.o_input input {
    width: 90%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
}

#quenmk {
    color: #898989;
    font-size: 15px;
}

#btn_login {
    background-color: #2775d2;
    line-height: 35px;
    padding: 0;
    color: white;
    font-weight: bold;
    height: 42px;
}

#btn_login:hover {
    cursor: pointer;
    background-color: white;
    color: #2775d2;
    border: 1px solid #2775d2;
}

#dangky {
    color: black;
    text-decoration: none;
}

#dangky:hover {
    text-decoration: underline;
}

#title_login {
    margin-left: 20px;
    font-size: 20px;
    color: #323c3f;
}

* {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

.fb_gg img {
    margin-left: 20px;
    height: 30px;
}

.fb_gg img:hover {
    cursor: pointer;
}