.header {
    background-color: blueviolet;
    height: 100px;
}

.container {
    height: 800px;
    width: 1200px;
    margin: 0 auto;
}

.footer {
    height: 200px;
    background-color: blue;
}

body {
    margin: 0;
}

.vitritrang {
    height: 40px;
    background-color: chartreuse;
}

.khungsanpham {
    height: calc(100% - 40px);
    display: flex;
    margin-top: 20px;
}

.khungbentrai {
    width: 75%;
    height: 100%;
    background-color: crimson;
}

.khungbenphai {
    width: 25%;
    height: 100%;
    background-color: darkkhaki;
}

.tieude {
    height: 50px;
    background-color: darksalmon;
}

.sanpham {
    height: 300px;
    background-color: black;
    width: 200px;
    margin: 10px;
    float: left;
}

.clear {
    clear: both;
}